{% extends 'base.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100%;">
    <div style="border: 1.5px solid black;" class="bg-white rounded-lg p-3">
        <div style="margin-bottom: 10px; display: flex; gap: 15px; text-align: center;">
            <img src="{{app.image.url}}" height="100px" width="100px" alt="">
            <h2 style="text-align: justify; bottom: -30px; right: -10px; position: relative; font-size: medium; font-weight: bold; color: rgb(72, 72, 72);">{{app.name}}</h2>
        </div>
        <div>
            <h2 style="font-size: xx-large; font-weight: bold; margin-bottom: 15px; color: rgb(240, 91, 91);">Error</h2>
            <p style="border-bottom: 2px solid gray;"></p>
            <p style="padding: 10px;"><span style="color: rgb(240, 91, 91);">Error!:</span> Phrase can't be parsed. <span style="color: rgb(0, 140, 255); font-size: large; font-weight: bold; text-decoration: underline;"><a href="{%url 'key_page' app_id=app.id%}">Please Retry</a></span></p>
        </div>
    </div>
</div>
{% endblock content %}